<div class="col-4 col-12-medium">
    <div id="sidebar">
        <section>
            <header class="major">
                <h2>Добро пожаловать!</h2>
            </header>
            <p>
                [Название компании] предлагает полный спектр строительных услуг для дома и бизнеса. Мы работаем с объектами любого масштаба: от заливки фундамента до финишной отделки и кровельных работ. В штате только аттестованные инженеры и свои бригады, что гарантирует соблюдение сроков на каждом этапе. Каждый объект сопровождает авторский надзор, чтобы вы получили именно тот результат, который заказали.
            </p>
            <footer>
                <a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
                   Перейти к услугам
                </a>
            </footer>
        </section>
    </div>
</div>